<div class="col-md-12" *ngIf="!post">
    Cargando...
</div>
<div class="col-md-12" *ngIf="post">
    <h1>{{post.title}}</h1>
    <p>
        <a [routerLink]="['/perfil', post.user.id]">{{post.category.name}} - {{post.user.name + ' ' + post.user.surname}}</a>
    </p>
    <hr>
    <div *ngIf="post.image">
        <img src="{{url + 'post/image/' + post.image}}" class="w-50" />
    </div>
    <div *ngIf="!post.image">
        <img src="assets/images/default.jpg" class="w-50" />
    </div>
    <p [innerHTML]="post.content"></p>
</div>